* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

body {
	background-color: #efefef;
}

nav {
	background-color: rgb(68, 166, 255);
	height: 50px;
}

main {
	width: 1100px;
	margin: 0 auto;
}

footer {
	height: 50px;
	background-color: rgb(68, 166, 255);
	clear: both;
}

.logo {
	width: 35px;
	height: 35px;
	position: relative;
	right: -20px;
	top: 8px;
	float: left;
}

.services-parent {
	width: 1100px;
	height: 500px;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: white;
	float: left;
	border-radius: 3%
}

.team-parent {
	width: 1100px;
	height: 500px;
	margin-bottom: 25px;
	background-color: white;
	float: left;
	border-radius: 3%
}

.services {
	padding-left: 10px;
}

.team {
	padding-left: 10px;
}

.c-header {
	color: rgb(68, 166, 255);
	margin-top: 13px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 20px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.container {
	height: 200px;
	width: 47%;
	margin: 10px 1.16%;
	padding-top: 5px;
	float: left;
	background-color: #efefef;
	border-radius: 5%;
	color: #444444;
}

.services-img {
	width: 80px;
	height: 80px;
	margin: 10px 10px;
	float: left;
}

.team-img {
	width: 80px;
	height: 80px;
	margin: 10px 10px;
	border-radius: 50%;
	float: left;
}

.job-title {
	padding-top: 5px;
	font-size: 14px;
	font-style: italic;
}

.copyright {
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 14px;
	text-align: center;
	padding-top: 20px;
}

.zuitt {
	letter-spacing: 0.1em;
	font-weight: bolder;
}

h1 {
	color: white;
	font-size: 25px;
	margin-left: 65px;
	letter-spacing: 0.2em;
	font-weight: lighter;
	padding-top: 15px;
}

h2	{
	margin-top: 5px;
	margin-left: 15px;
	font-size: 25px;
	font-weight: 500;
	letter-spacing: 0.1em;
	padding-top: 10px;
	padding-left: 10px;
}

p {
	padding-top: 5px;
	padding-left: 100px;
	padding-right: 50px;
}